DEBUG=<True/False>
ALLOWED_HOSTS=<allowed_hosts>
SECRET_KEY=<your_secret_key>

POSTGRES_DB=<db_name>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_user_password>
POSTGRES_HOST=<db_host>
POSTGRES_PORT=<db_port>

TELEGRAM_BOT_TOKEN=<telegram_bot_token>
TELEGRAM_CHAT_ID=<telegram_chat_ID>

CELERY_BROKER_URL=<celery_broker_url>
CELERY_RESULT_BACKEND=<celery_result_backend_url>
DOMAIN=<domain>

STRIPE_PUBLISHABLE_KEY=<your_stripe_publishable_key>
STRIPE_SECRET_KEY=<your_stripe_secret_key>
STRIPE_WEBHOOK_SECRET=<stripe_webhook_secret>
